@charset "utf-8"
@require "./variable"
// @require "./reset"

body, html
  font-family 'PingFang SC', 'Microsoft Yahei', 'SimSun', 'Helvetica', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  // -webkit-user-select none
  // user-select none
  font-size $fontsize-medium
  color #262626
  margin: 0

*
  -webkit-top-highlight-color transparent
  box-sizing border-box !important

.clear-fix
  &::after
    content ""
    display table
    clear both

// 优化表单
input, select
  -webkit-appearance none
  appearance none
select::-ms-expand, input[type=radio]::-ms-check, input[type=checkbox]::-ms-check, input[type=text]::-ms-clear, input[type=tel]::-ms-clear, input[type=number]::-ms-clear
  display none


for num in (0..count)
  prefix = (num * 5)px
  .ml-{prefix}
    margin-left prefix !important
  .mr-{prefix}
    margin-right prefix !important
  .mt-{prefix}
    margin-top prefix !important
  .mb-{prefix}
    margin-bottom prefix !important
  .pt-{prefix}
    padding-top prefix !important
  .pb-{prefix}
    padding-bottom prefix !important
  .pl-{prefix}
    padding-left prefix !important
  .pr-{prefix}
    padding-right prefix !important
  .p-{prefix}
    padding prefix prefix prefix prefix
  .flex-{prefix}
    -webkit-box-flex: 0 0 prefix !important
    -webkit-flex 0 0 prefix !important
    -ms-flex 0 0 prefix !important
    flex: 0 0 prefix !important

.text-center
  text-align center
.text-right
  text-align right
.text-left
  text-align left
.float-right
  float right
.float-left
  float left

.row, .flex
  display -webkit-box
  display -webkit-flex
  display flex
  flex-wrap wrap
  .col
    -webkit-box-flex 1
    -webkit-flex 1
    -ms-flex 1
    flex 1
.flex-center
  align-items center
.flex-content-between
  justify-content: space-between
.flex-content-center
  justify-content center
.flex-content-end
  justify-content flex-end
.flex-column
  flex-direction column
.flex-88
  flex 0 0 88px !important
.flex-120
  flex 0 0 120px !important
.flex-130
  flex 0 0 130px !important
.flex-150
  flex 0 0 150px !important
.flex-420
  flex 0 0 420px !important
input, textarea
  border: 0px

input.placeholder-white::-webkit-input-placeholder
  color rgba(255, 255, 255, .5) !important
.hide
  display none
.no-border
  border 0px !important
.border
  border 1px solid $color-border
.border-bottom-line
  border-bottom 1px solid $color-border
.border-top-line
  border-top 1px solid $color-border
.border-right-line
  border-right 1px solid $color-border
.border-left-line
  border-left 1px solid $color-border
.border-circle
  border-radius 50%
.padding-xs
  padding 5px
.padding-sm
  padding 10px
.padding
  padding 15px 15px
.no-padding
  padding 0px 0px !important
.inline
  display inline-block
.relative-position
  position relative
.scroll
  overflow auto
  -webkit-overflow-scrolling touch
  will-change scroll-position
.ft-10
  font-size $fontsize-small-s
.ft-12
  font-size $fontsize-small
.ft-13
  font-size $fontsize-medium-s
.ft-14
  font-size $fontsize-medium
.ft-16
  font-size $fontsize-large
.ft-18
  font-size $fontsize-large-x
.ft-20
  font-size $fontsize-large-xx
.ft-24
  font-size $fontsize-large-xxx
.ft-30
  font-size $fontsize-large-xxxx
.ft-bold
  font-weight bold !important
.full-width
  width 100%!important
.width-90
  width 90%!important
.border-top-1px, .border-right-1px, .border-bottom-1px, .border-left-1px
  position relative
  &:before, &:after
    content ""
    display block
    position absolute
    pointer-events none
    transform-origin 0 0

.border-top-1px
  &:before
    border-top 1px solid $color-row-line
    left 0
    top 0
    width 100%
    transform-origin 0 top

.border-right-1px
  &:after
    border-right 1px solid $color-col-line
    top 0
    right 0
    height 100%
    transform-origin right 0

.border-bottom-1px
  &:after
    border-bottom 1px solid $color-row-line
    left 0
    bottom 0
    width 100%
    transform-origin 0 bottom

.border-left-1px
  &:before
    border-left 1px solid $color-col-line
    top 0
    left 0
    height 100%
    transform-origin left 0

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-top-1px
    &:before
      width: 200%
      transform: scale(.5) translateZ(0)
  .border-right-1px
    &:after
      height: 200%
      transform: scale(.5) translateZ(0)
  .border-bottom-1px
    &:after
      width: 200%
      transform: scale(.5) translateZ(0)
  .border-left-1px
    &:before
      height: 200%
      transform: scale(.5) translateZ(0)

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
  .border-top-1px
    &:before
      width: 300%
      transform: scale(.333) translateZ(0)
  .border-right-1px
    &:after
      height: 300%
      transform: scale(.333) translateZ(0)
  .border-bottom-1px
    &:after
      width: 300%
      transform: scale(.333) translateZ(0)
  .border-left-1px
    &:before
      height: 300%
      transform: scale(.333) translateZ(0)
.ellps-row{
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
}
.ellps
  overflow hidden
  text-overflow ellipsis
  display -webkit-box!important
  line-height 18px
  -webkit-line-clamp 1
  // white-space wrap
  -webkit-box-orient vertical
  &.ellps-2
    -webkit-line-clamp 2
  &.ellps-3
    -webkit-line-clamp 3
.text-white
  color $color-white !important
.text-gray
  color $color-grey
.text-red
  color $color-red
.text-green
  color $color-green
.text-blue
  color $color-blue
.text-warning
  color: #E6A23C
.text-primary
  color: $color-main !important
.text-33
  color: $color-dark-grey !important
.text-66
  color: $color-grey !important
.bg-gray
  background $color-background
.bg-primary
  background $color-main !important
.bg-white
  background $color-white !important
.bg-f9
  background: #f9f9f9
.bg-success
  background: $color-green !important
.bg-warning
  background: #E6A23C
.bg-danger
  background: #F56C6C
.bg-info
  background: #909399
[class*="iconfont icon-"],
[class^=icon-]
    speak: none;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
